*.html linguist-detectable=false
*.dart linguist-detectable=true
*.c++ linguist-detectable=false
*.cMake linguist-detectable=false
*.c linguist-detectable=false
*.swift linguist-detectable=false
*.kotlin linguist-detectable=false
*.objective-c linguist-detectable=false